.sidebar
  .sidebar_contents
    .sidebar_contents-1
      =form_with do |f|
        =f.button "マイページ", class: "sidebar_btn", onclick: "location.href='aaa'"
        .sidebar_contents-2
        =f.button "いいね！一覧", class: "sidebar_btn", onclick: "location.href='aaa'"
        .sidebar_contents-3
        =f.button "出品する", class: "sidebar_btn", onclick: "location.href='aaa'"
        .sidebar_contents-4
        =f.button "出品した商品-出品中", class: "sidebar_btn", onclick: "location.href='aaa'"
        .sidebar_contents-5
        =f.button "出品した商品-取引中", class: "sidebar_btn", onclick: "location.href='aaa'"
        .sidebar_contents-6
        =f.button "出品した商品-売却済", class: "sidebar_btn", onclick: "location.href='aaa'"
        .sidebar_contents-7
        =f.button "購入した商品-取引中", class: "sidebar_btn", onclick: "location.href='aaa'"
        .sidebar_contents-8
        =f.button "購入した商品-過去の取引", class: "sidebar_btn", onclick: "location.href='aaa'"
        .sidebar_contents-9
        =f.button "お知らせ", class: "sidebar_btn", onclick: "location.href='aaa'"
        .sidebar_contents-10
        =f.button "やることリスト", class: "sidebar_btn", onclick: "location.href='aaa'"
    .sidebar_contents2
      設定
      .sidebar_contents2-1
        =form_with do |f|
          =f.button "プロフィール", class: "sidebar_btn", onclick: "location.href='aaa'"
          .sidebar_contents2-2
          =f.button "発送先・お届け先 住所変更", class: "sidebar_btn", onclick: "location.href='aaa'"
          .sidebar_contents2-3
          =f.button "支払い方法", class: "sidebar_btn", onclick: "location.href='credit'"
          .sidebar_contents2-4
          =f.button "メール・パスワード", class: "sidebar_btn", onclick: "location.href='aaa'"
          .sidebar_contents2-5
          =f.button "本人情報", class: "sidebar_btn", onclick: "location.href='aaa'"
          .sidebar_contents2-6
          =f.button "ログアウト", class: "sidebar_btn", onclick: "location.href='aaa'"