.exhibition {
  background-color: rgb(245, 245, 245);
  width: 100vw;
  height: 100%;
  &__header {
    display: flex;
    height: 128px;
    background-color: rgb(245, 245, 245);
    align-items: center;
    &-logo {
      width: 185px;
      margin-left: 365px;
      margin: 0 auto;
      a:hover {
        opacity: 0.7;
      }
    }
  }

body {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
}
main {
  display: block;
}
.container {
  width: 700px;
  margin: 0 auto;
  background: #fff;
}
.sell {
  &__container__inner h2 {
    font-weight: bold;
  }
  &__head {
    padding: 32px 16px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
  }
  &__form {
    border-top: 1px solid #eee;
  }
}

.sell--upload {
  &__box {
    width: 100%;
    padding: 40px;
    border-top: 1px solid #eee;
  }
  &__box h3 {
    font-weight: bold;
  }
  &__head {
    font-size: 16px;
  }
  &__box p {
    margin: 8px 0 0;
    line-height: 1.5;
  }
  &__items {
    float: left;
    display: block;
  }
  &__items ul {
    display: block;
    width: 100%;
  }
  &__drop__box {
    width: 100%;
    margin-top: 10px;
    height: 160px;
    flex: 1;
    position: relative;
    text-align: center;
    cursor: pointer;
    &__imageview{
      float: left;
      background: #f5f5f5;
      border: 1px dashed #ccc;
      height: 160px;
      width: 100%;
      .uploadimg{
        padding-top: 25px;
        height: 100px;
      }
      .img_del{
        color: #0099e8;
;
        font-weight: 400;
        cursor: pointer;
        font-size:14px;
        text-align: center;
        position:relative;
        top:30px;
        &:hover{
          opacity: 0.5 ;
        }
      }
    }
    img{
      height:161px;
      width:150px;
      position: relative;
      z-index: 2
    }
  }
  &__drop__box pre {
    position: absolute;
    top: 40%;
    left: 16px;
    right: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    transform: translate(0, -50%);
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
  }
}
.sell__dropbox__container {
  display: block;
  width: 620px;
  margin: 16px auto 0;
}
.sell__content {
  font-weight: 14px;
  padding: 40px;
  border-top: 1px solid #eee;
}

.form__group {
  margin: 40px 0 0;
  &:first-child {
    margin: 0;
  }
  & label {
    font-weight: 600;
    margin: 8px 0 0;
  }
  & select {
    width: 100%;
  }
  & .select--wrap {
    height: 48px;
    margin: 5px 0 5px 0;
    padding-left:10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 48px;
    cursor: pointer;
      select {
        border: none;
        background-color: white;
        width:100%;
        height:30px;
    }
  }
  & .input__default {
    width: 100%;
    margin: 8px 0 0;
  }
}
.input__default {
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
label {
  display: inline-block;
    margin: 8px 0 0 5px;

}
.textarea__default {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  margin: 8px 0 0;
}
.sell--sub__head {
  float: left;
  color: #888;
  font-size: 14px;
}
.sell__form__box {
  width: 400px;
  margin-left: auto;
}

.select--wrap {
  position: relative;
  background: #fff;
}
.select__default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  margin-top: 5px;
}

.sell_price {
  & li:first-child {
    padding: 0 0 24px;
    border: 0;
  }
  & li {
    padding: 24px 0;
    border-top: 1px solid #ccc;
  }
  & .form__group .l-left {
    width: 50%;
    line-height: 48px;
  }
  & .bold .l-right {
    font-size: 34px;
  }
  & .form__group .l-right {
    width: 50%;
  }
  .sell__price--input div {
    display: inline-block;
    width: 80%;
    margin: 0 0 0 5%;
  }
  .sell__price--input .input__default {
    margin: 0;
    text-align: right;
  }
}

.sell__btn__box p {
  line-height: 1.5;
  display:inline;
  word-wrap: break-word;
}
.sell__content p a {
  color: #0099e8;
;
  text-decoration: none;
  display:inline;
  word-wrap: break-word;
}
.sell__price--input div {
  display: inline-block;
  width: 80%;
  margin: 0 0 0 5%;
}
.sell__price--input .input__default {
  margin: 0;
  text-align: right;
}

.sell__btn__box {
  & .btn--red {
    margin: 40px 0 0;
  }
  & .btn--gray {
    width: 45%;
    margin: 24px auto 0;
  }
}

.l-right {
  float: right;
}

.bold {
  font-weight: 600;
}

.btn--red {
    width: 100%;
    background-color:#ea352d;
    cursor: pointer;
    border: 1px solid #ea352d;
    padding: 10px 0;
    margin: 30px 0 10px 0;
    color: #ffffff;
}
.btn--gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
}
.btn__default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
}
.form--require {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.form__question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}
.btn--gray {
  text-decoration: none;
}
.clearfix {
  border-bottom: 1px solid #ccc;
  padding: 24px 0;
  content: "";
  display: block;
  clear: both;
}

&__footer {
  background-color: rgb(245, 245, 245);
  &-links {
    display: flex;
    width: 456px;
    margin: 0 auto;
    font-size: 12px;
    &-title {
      margin: 0 auto;
      display: block;
      margin-top: 40px;
      a {
        text-decoration: none;
        color: #333;
      }
      a:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
    }
  }
  &-image {
    width: 80px;
    margin: 0 auto;
    margin-top:40px;
    a:hover {
      opacity: 0.7;
    }
  }
  &-end {
    text-align: center;
  }
}
}

