.new4 {
      background-color: rgb(245, 245, 245);
      width: 100vw;
      height: 100%;
      &__header {
        display: flex;
        height: 128px;
        background-color: rgb(245, 245, 245);
        align-items: center;
        &-logo {
          width: 185px;
          margin-left: 365px;
          a:hover {
            opacity: 0.7;
          }
        }
        &-current {
          display: flex;
          &-text {
            font-size: 12px;
            color: #888;
            margin-left: 45px;
          }
          &-text1 {
            font-size: 12px;
            color: #888;
            margin-left: 45px;
          }
          &-text2 {
            font-size: 12px;
            color: #888;
            margin-left: 45px;
          }
          &-text3 {
            font-size: 12px;
            color: red;
            margin-left: 45px;
          }
          &-text4 {
            font-size: 12px;
            color: #888;
            margin-left: 45px;
          }
        }
        &-image {
          display: block;
        }
      }
      &__form {
        width: 700px;
        height: 750px;
        background-color: #FFFFFF;
        margin: 0 auto;
        &-title {
          font-weight: 600;
          font-size: 22px;
          padding: 32px;
          text-align: center;
          border-bottom: 1px solid #F5F5F5;
        }
        &-box1 {
          width: 343px;
          height: 327px;
          margin: 0 auto;
          &__upper {
            padding-top: 40px;
            display: flex;
            font-size: 14px;
            &__text {
              font-weight: 600;
              
            }
            &__logo {
              background-color: red;
              padding: 0 5px;
              color: white;
              margin-left: 5px;
              font-size: 12px;
              border-radius: 3px;
            }
          }
          &-form {
            font-size: 14px;
            #number {
              font-size: 16px;
              padding: 10px 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
            }
            input {
              width: 100%;
              background-color:#ea352d;
              border: 1px solid #EA352D;
              padding: 10px 0;
              margin: 10px 0 10px 0;
            }
            .btn {
              margin-top: 40px;
              color: white;
            }
            ul {
              display: flex;
              font-size: 35px;
              padding-left: 5px;
            }
            li {
              padding-right: 8px;
            }
            &-box2 {
              margin: 0 auto;
              &__upper {
                padding-top: 40px;
                display: flex;
                font-size: 14px;
                &__text {
                  font-weight: 600;
                  
                }
                &__logo {
                  background-color: red;
                  padding: 0 5px;
                  color: white;
                  margin-left: 5px;
                  font-size: 12px;
                  border-radius: 3px;
                }
              }
              &__month {
                margin-top: 5px;
              }
              #month {
                height: 50px;
                width: 110px;
                background-color: white;
              }
              &__year {
                margin-top: 10px;
              }
              #year {
                height: 50px;
                width: 110px;
                background-color: white;
              }
              label {
                padding-left: 10px;
              }
            }
            &-box3 {
              margin: 0 auto;
              &__upper {
                padding-top: 40px;
                display: flex;
                font-size: 14px;
                &__text {
                  font-weight: 600;
                  
                }
                &__logo {
                  background-color: red;
                  padding: 0 5px;
                  color: white;
                  margin-left: 5px;
                  font-size: 12px;
                  border-radius: 3px;
                }
              }
            }
            }
        }

        &-link {
          text-align: right;
          a {
            text-decoration: none;
            color: #0099e8;
          }
        }
      }
      &__footer {
        height: 220px;
        background-color: rgb(245, 245, 245);
        &-links {
          display: flex;
          width: 456px;
          margin: 0 auto;
          font-size: 12px;
          &-title {
            margin: 0 auto;
            display: block;
            margin-top: 40px;
            a {
              text-decoration: none;
              color: #333;
            }
            a:hover {
              opacity: 0.7;
              text-decoration: underline;
            }
          }
        }
        &-image {
          width: 185px;
          margin: 0 auto;
          margin-top:40px;
          a:hover {
            opacity: 0.7;
          }
        }
        &-end {
          text-align: center;
        }
      }
}